<h1>Sensitive Data Exposure</h1>
<hr>
<p>
  Sensitive data exposure is one of the most widespread vulnerabilities on the OWASP list. It consists of compromising
  data that should have been protected.
</p>
<h2>
  Examples of Sensitive Data
  Some sensitive data that requires protection is:
</h2>
<ul>
  <li> Credentials</li>
  <li> Credit card numbers </li>
  <li> Social Security Numbers </li>
  <li> Medical information </li>
  <li> Personally identifiable information (PII) </li>
  <li> Other personal information </li>
  <li> It is vital for any organization to understand the importance of protecting users’ information and privacy. All
    companies should comply with their local privacy laws.
  </li>
</ul>
<h2>Steps to trigger:</h2>
<hr>
<ul>
  <li>Enter the directory name as <code>secret</code></li>
  <li>It will show the username:password of users</li>
</ul>
<router-outlet></router-outlet>