@import "../../../themes/variables";
// Elements
mat-sidenav {
  width: 13.5%;
}

mat-nav-list {
  padding: 0;
}

// Classes
.mat-sidenav-fullscreen {
  top: 63px !important;
}

.router-container {
  padding: 15px;
}

.logo-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  border-radius: 50%;
}
