<header class="home-main-content">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="home-content">
    <div>
      <h1>Welcome Back</h1>
      <p>Learn to secure the web one step at a time, with our practical, interactive learning materials. Covering the
        latest
        research, and completely free.</p>
    </div>
    <div>
      <img src="../../../assets/images/dashboard-hero-small.jpg">
    </div>
  </div>
</header>

<main>
  <div class="main-header">
    <h1 align="center">Ready for your next challenge?</h1>
    <p align="center">Jump straight into the latest topic releases, or check out our learning path for your next topic
      choice.</p>
  </div>
  <div class="card-container" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="card-content">
      <mat-card>
        <mat-card-content>
          <a mat-list-item routerLink="/broken-auth">
            <h2>Broken Authentication</h2>
          </a>
          <h3>Visit Page </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-content">
      <mat-card>
        <a mat-list-item routerLink='/xss'>
          <h2>Cross Site Scripting</h2>
        </a>
        <h3>Visit Page </h3>
      </mat-card>
    </div>
    <div class="card-content">
      <mat-card>
        <a mat-list-item routerLink="/data-exposure">
          <h2>Sensitive Data Exposure</h2>
        </a>
        <h3>Visit Page </h3>
      </mat-card>
    </div>
    <div class="card-content">
      <mat-card>
        <a mat-list-item routerLink="/broken-access">
          <h2>Broken Access Control</h2>
        </a>
        <h3>Visit Page </h3>
      </mat-card>
    </div>
  </div>
  <div class="image-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="image-content">
      <img height="350px" src="../../../assets/images/academy-recommended-topic.jpg">
      <div style="height: 350px;padding : 10px ; margin-top : 10px">
        <h2 style=" font-size: 35px;">Learning path</h2>
        <hr>
        <h2 style="line-height: 23px;">Our suggested path through the Web Security Academy topics</h2>
      </div>
    </div>
  </div>

  <div class="end-container">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="end-container-content">
      <div>
        <img src="../../../assets/images/hero-academy-getting-started-light-blue.jpg">
      </div>
      <div>
        <h1>Can we help you get started?</h1>
        <p>Let us help you get the most out of your Academy experience:
        </p>
        <p> we've broken down how it all works, and created
          a recommended list of topics for you to start with. </p>
      </div>
    </div>
  </div>
</main>

<footer>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="end-container-content">
    <div class="footer-content">
      <h2>About Site</h2>
      <mat-list>
        <mat-list-item>About Site</mat-list-item>
        <mat-list-item>Careers</mat-list-item>
        <mat-list-item>Sitemap</mat-list-item>
      </mat-list>
    </div>
    <div class="footer-content">
      <h2>Help & FAQ</h2>
      <mat-list>
        <mat-list-item>Help</mat-list-item>
        <mat-list-item>Contact Us</mat-list-item>
        <mat-list-item>Report a bug</mat-list-item>
      </mat-list>
    </div>
    <div class="footer-content">
      <h2>Site Information</h2>
      <mat-list>
        <mat-list-item>Accessibility</mat-list-item>
        <mat-list-item>Privacy Notes</mat-list-item>
        <mat-list-item>Cookie Policy</mat-list-item>
      </mat-list>
    </div>
  </div>
</footer>