$primary-color: #693db8;
$secondary-color: #e4ddf0;

// Font size
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$heading-size-small: 26px;
$heading-size-medium: 36px;
$heading-size-large: 46px;
