<h1>Insufficient Logging</h1>
<hr>
<p>
  Many web applications are not taking enough steps to detect data breaches. The average discovery time for a breach is
  around 200 days after it has happened. This gives attackers a lot of time to cause damage before there is any
  response. OWASP recommends that web developers should implement logging and monitoring as well as incident response
  plans to ensure that they are made aware of attacks on their applications.
</p>
<h2> Insufficient logging, detection, monitoring and active response occurs any time: </h2>
<ul>
  <li>
    Auditable events, such as logins, failed logins, and high-value transactions are not logged.
  </li>
  <li>
    Warnings and errors generate no, inadequate, or unclear log messages.
  </li>
  <li>
    Logs of applications and APIs are not monitored for suspicious activity.
  </li>
  <li>
    Logs are only stored locally.
  </li>
  <li>
    Appropriate alerting thresholds and response escalation processes are not in place or effective.
  </li>
  <li>
    Penetration testing and scans by DAST tools (such as OWASP ZAP) do not trigger alerts.
  </li>
  <li>
    The application is unable to detect, escalate, or alert for active attacks in real time or near real time.
  </li>
</ul>
<h2>Steps to trigger:</h2>
<hr>
<ul>
  <li>Click on the <i>Log Test</i> button</li>
  <li>It will show the logs generated whenever a user interact with the button</li>
  <li>Logs generated will be shown in console</li>
</ul>
<button mat-button style="background-color: #7b1fa2;" (click)="testLog()">Log Test</button>